# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
.cache/
.pyproject.toml

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs
*.log
*.log.*
logs/
*.out

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
*.swp
*.swo
*~

# SQLite databases
*.sqlite3

# Additional files
*.bak
